@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

:root{
  --trans-menu:.3s;
  --menu-color:white;
  --height-menu-s:91px;
  --height-menu-m:91px;
  --color-peach:hsl(11, 73%, 66%);

}

#root{
  overflow:hidden auto;
  position:relative;
}
body{
}

*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'jost',sans-serif;
}
