@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

:root{
  --trans-menu:.3s;
  --menu-color:white;
  --height-menu-s:51px;
  --height-menu-m:81px;
}

body{
  overflow-x:hidden;
  position:relative;
}

*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'jost',sans-serif;
}
